html, body, input {
	font-family: 'Indie Flower', cursive;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}
h2 {
    font-size: 2em;
}


/*Styles for Header */
.smiley_face {
	height: 146px;
    vertical-align: top;
}
    	
.header {
	width: 570px;
	margin: 20px auto 40px;
}

.title_container {
	display: inline-block;
	text-align: center;
}

.logo {
	height: 90px;
}


/*General styles for Form*/
input {
	margin-bottom: 10px;
	padding: 6px 12px;
}

.error {
	background: rgb(255, 226, 226);
}

.results {
	position: absolute;
}

.red {
	text-decoration: underline;
	color: red;
}


/* Animations for Text */
.ng-hide-remove {
    -webkit-animation: slideInLeft 2.5s;
    animation: slideInLeft 2.5s;
}

.ng-hide-add {
    -webkit-animation: slideOutRight 2.5s;
    animation: slideOutRight 2.5s;
    display: block !important;
}